$color:white;
$bg-color:blue;
$list-color:red;

header{
   background-color: $bg-color;
   padding: 10px;
   .card{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .title{
      color: $color;
   }
   .list{
      ul{
         display: flex;
      }
      li{
         margin-right: 5px;
         background-color: $list-color;
         padding: 5px;
         border-radius: 5px;
         &:hover{
            background-color: antiquewhite;

         }
         a{
            color: aliceblue;
            &:hover{
               color: red;
            }
         }
      }
   }
}