.form{
   margin-top: 35px;
   form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   input{
      padding: 10px;
      color: antiquewhite;
      background-color: blue;
      &::placeholder{
         color: white;
      }
   }
   
}