header {
  height: 80px;
  background-color: blueviolet;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  padding: 0 150px;
}

ul {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
